.profile-pic{
    height: 70px;
    width:70px;
    border-radius: 50%;
}

.location{
    
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:15px;
    margin:25px;

}